@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

/* General  */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
/* Container */
.whole_container {
  gap: 12px;
}
/* Page1 - Header  */

.menu-bar {
  background-color: #f5f5f7cc;
  width: 100%;
  /* max-width: 100%; */
  /* background-size: cover; */
}
.icon_pad_15 {
  padding: 15px;
}
.icons {
  gap: 24px;
}
.head-desc {
  margin: 15px 31px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #1d1d1f;
}
.category-hide {
  display: none;
}
.category {
  gap: 24px;
  font-size: 12px;
}
.desk_grid {
  gap: 12px;
}
/* ===========Tablet Style ==========*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page1 {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
  }
  /* Page1-Header */
  .header1 {
    width: 100%;
  }
  .head-desc {
    margin: 16px 162px;
  }

  /* =Page1-banner - Tab ======================= */
  .banner1 {
    background-image: url("./images/page1-hor.png");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* Page1-Text */
  .p1_text_frame {
    margin-bottom: 50%;
    margin-top: 8%;
    gap: 16px;
    color: white;
  }
  .Inter-42 {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
  }
  .Inter-22 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    /* color: #f5f5f7; */
  }
  .btn_frame {
    gap: 16px;
    margin: 0px 99px;
  }
  .btn_learn {
    width: 123px;
    height: 44px;
    background-color: #0071e3;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    /* width: 68px;
    height: 44px; */
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /* Page 2- Tab================================== */
  .page2 {
    width: 100%;
    height: auto;
    background-image: url("./images/page2-hor.png");
    background-size: 100%;
    height: 650px;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
  }

  /* Page2 - Text Box */
  /* .p2_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */
  .btn_learn_wh {
    width: 107px;
    height: 36px;
    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /* =====Page3 -Tab===================== */
  .page3 {
    background-image: url("./images/page3-hor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* justify-content: space-evenly; */
    height: 650px;
    width: 100%;
    background-position: center;
  }
  /* Page2 - Text Box */
  /* .p3_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */

  .Inter-22-G {
    background-image: linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
    color: transparent;
    background-clip: text;
    padding-bottom: 8%;
    font-size: 22px;
    /* padding-top: 2%; */
  }
  /* ===========Page4-tab ====== */
  .tab-hid {
    display: none;
  }
  .page4 {
    background-image: url("./images/airpod-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
  }
  .page5 {
    background-image: url("./images/watch-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    /* color: white; */
  }
  .desk_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  /* .p5_hid {
    display: none;
  } */
  /* .p4_hid {
    display: none;
  } */
  /* Page4-tab */
  /* .page6-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 12px;
  }
  .page8-9 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 12px;
  } */
  /* Hidden Elements-Tab */
  .p4_desktop {
    display: none;
  }
  .page6 {
    background-image: url("./images/air-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
  .page9 {
    background-image: url("./images/phone-c.png");

    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  /* ====Page 10====== */
  .scroll_container_tab {
    height: 368px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: white;
  }
  .scroll_img_t {
    min-width: 689px;
    height: 100%;
    scroll-snap-align: start;
    justify-content: start;
    align-items: end;
    display: flex;
    padding-bottom: 30px;
  }
  .t1 {
    background-image: url("./images/t_1.jpg");
  }
  .t2 {
    background-image: url("./images/t_2.jpg");
  }
  .t3 {
    background-image: url("./images/t_3.jpg");
  }
  .t4 {
    background-image: url("./images/t_4.jpg");
  }
  .t5 {
    background-image: url("./images/t_5.jpg");
  }
  .t6 {
    background-image: url("./images/t_6.jpg");
  }
  .t7 {
    background-image: url("./images/t_7.jpg");
  }
  .t8 {
    background-image: url("./images/t_8.jpg");
  }
  .t9 {
    background-image: url("./images/t_9.jpg");
  }
  .t10 {
    background-image: url("./images/t_10.jpg");
  }
  .scroll_text_box_tab {
    gap: 18px;
  }
  .scroll_btn {
    background-color: white;
    border-radius: 60px;
    color: black;
    font-size: 14px;

    width: 108px;
    height: 36px;
    margin-left: 30px;
  }
  .drama_bold {
    font-weight: bold;
  }
  .scroll_paragraph {
    width: 400px;
  }

  /* === Tab Animation  */
  .animation_container_t {
    gap: 16px;
    margin-bottom: 68px;
    height: 262px;
    overflow-x: scroll;
    width: 100%;
  }
  .anima_card_t1 {
    height: 194px;
    width: 286px;
  }
  .bg_pink {
    background-color: #6529cf;
  }
  .anima_text_t {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700px;
  }
  .bg_green {
    background-color: #2a402d;
  }
  .bg_dark {
    background-color: #040303;
  }
}

/*========== Desktop Style ==================*/
@media screen and (min-width: 1024px) {
  .whole_container {
    display: grid;
  }
  /* Page1-Header */
  .header1 {
    width: 100%;
  }
  .menu-bar {
    justify-content: center;
    align-items: center;
  }
  .category-hide {
    display: inline;
  }
  .banner1 {
    background-image: url("./images/desktop-pro.jpg");
    width: 100%;
    height: 692px;
    background-position: center;
    background-size: cover;
  }
  /* Page1-Text-Desk=========================*/
  .p1_text_frame {
    margin-bottom: 400px;
    gap: 16px;
    color: white;
  }
  .Inter-52 {
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
  }
  .Inter-24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  .btn_frame {
    gap: 16px;
    /* margin: 0px 99px; */
  }
  .btn_learn {
    width: 123px;
    height: 44px;
    background-color: #0071e3;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    /* width: 68px;
    height: 44px; */
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /* Page 2 Desk*===========================/
  /* Page2 - Text Box */
  .page2 {
    background-image: url("./images/d_purple.png");
    width: 100%;
    height: 692px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  .p2_text_frame {
    gap: 16px;
    margin-top: 50px;
  }
  .btn_learn_wh {
    width: 107px;
    height: 36px;
    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /* Page3 -Desk */
  .page3 {
    background-image: url("./images/page3-hor.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: space-evenly; */
    height: 692px;
    width: 100%;
    background-position: center;
  }
  /* Page2 - Text Box */
  /* .p3_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */

  .Inter-24-G {
    background-image: linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
    color: transparent;
    background-clip: text;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
  }
  /*  Only Elements-Desk */
  .p4_desktop {
    display: flex;
    background-image: url("./images/magic.png");
    height: 692px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .p4_desktop_text {
    gap: 16px;
    margin-top: 350px;
  }
  .desk-hid {
    display: none;
  }
  /* =====Desk Grid ======== */
  .desk_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .page3 {
    height: 580px;
  }

  .page4 {
    background-image: url("./images/pro2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 580px;
    color: white;
  }
  .page5 {
    background-image: url("./images/watch-2.png");
    height: 580px;
    background-position: center;
    /* grid-row: 2/3;
    grid-column: 1/2; */
  }
  .page6 {
    background-image: url("./images/air-c.png");
    background-repeat: no-repeat;
    height: 580px;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .page9 {
    background-image: url("./images/phone-c.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
  }
  .page9_1 {
    background-image: url("./images/card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
  }
  /* Scroll Part Desk  */
  .scroll_container_desk {
    height: 668px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: white;
  }
  .scroll_img_t {
    min-width: 1250px;
    height: 100%;
    scroll-snap-align: center;
    justify-content: start;
    align-items: end;
    display: flex;
    padding-bottom: 30px;
  }

  .d1 {
    background-image: url("./images/d_1.jpg");
  }
  .d2 {
    background-image: url("./images/d_2.jpg");
  }
  .d3 {
    background-image: url("./images/d_3.jpg");
  }
  .scroll_text_box_tab {
    gap: 18px;
  }
  .scroll_btn {
    background-color: white;
    border-radius: 60px;
    color: black;
    font-size: 17px;

    width: 133px;
    height: 44px;
    margin-left: 30px;
  }
  .drama_bold {
    font-weight: bold;
  }
  .scroll_paragraph {
    width: 400px;
    font-size: 17px;
    margin-top: 10px;
  }

  /* ========= Animation Desktop=== */
  .animation_container_d {
    gap: 16px;
    margin-bottom: 56px;
    width: 100%;
    overflow-x: scroll;
  }

  .anima_d {
    width: 417px;
    height: 236px;
    color: white;
  }
  .bg_d1 {
    background-image: url(./images/a_d1.jpg);
  }
  .anima_text_d {
    font-size: 14px;
    font-weight: 600px;
  }
  .bg_d2 {
    background-color: #1b2632;
  }
  .bg_d3 {
    background-image: url(./images/a_d3.jpg);
  }
  .bg_d4 {
    background-image: url(./images/a_d4.jpg);
  }
  .bg_d5 {
    background-image: url(./images/a_d5.jpg);
  }
}

/* Page1 - Banner  */
/* ==================Mobile style ============================ */
@media screen and (max-width: 759px) {
  /*   Page1 -----Mob -0----- */
  .banner1 {
    background-image: url("./images/page1-col.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    gap: 16px;
  }
  /* Text */
  .p1_text_frame {
    margin-top: 300px;
    /* height: 114px; */
    gap: 16px;
    /* margin-bottom: 10%; */
  }
  .para-frame {
    /* margin: 0px 18px; */
    gap: 4px;
  }
  .Inter-30B {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  .Inter-18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  .btn_frame {
    gap: 12px;
    margin: 0px 28px;
  }
  .btn_learn {
    background-color: #0071e3;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    /* width: 66px; */
    /* height: 36px; */
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /*--- Page2 -Banner2- Mob-----*/

  .page2 {
    width: 100%;
    height: 500px;
    background-image: url("./images/page2-col.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  /* Page2 - Text Box */

  .btn_learn_wh {
    width: 107px;
    height: 36px;

    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /*  =====Page 3 -Mob ===== */

  .page3 {
    background-image: url("./images/page3.png");
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
  }

  .page4 {
    background-image: url("./images/airpod-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 500px;
    width: 100%;
  }
  .page5 {
    background-image: url("./images/watch-c.png");
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;
  }

  /* Page2 - Text Box */

  .Inter-18-G {
    background: linear-gradient(
      90.43deg,
      #0090f7 0%,
      #ba62fc 33.33%,
      #f2416b 66.67%,
      #f55600 100%
    );
    color: transparent;

    background-clip: text;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 18px;
  }

  .page6 {
    background-image: url("./images/air-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
  }
  .page9 {
    background-image: url("./images/phone-c.png");

    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    /* background-position: center; */
  }
  .phone-hid {
    display: none;
  }
  .animation_container {
    margin-bottom: 56px;
    gap: 6px;
  }

  .anima_card_ph1 {
    background-color: #6529cf;
    width: 238px;
    height: 134px;
  }
  .anima_card_ph2 {
    background-image: url(./images/a_2_p.png);
    width: 238px;
    height: 134px;
  }
  .anima_text {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }

  /* Animation Phone  */
  .animation_container {
    height: 216px;
    width: 100%;

    overflow-x: scroll;
  }
}

/* ===================== General =================================== */
.p2_text_frame {
  gap: 16px;
  margin-top: 30px;
}
.p3_text_frame {
  margin-top: 30px;
  gap: 16px;
}
.p3-bot-text {
  margin-top: 280px;
}
/*== Page4-5-Mob ====== */
.page4-5 {
  gap: 12px;
}

.p4_text_frame {
  width: 60%;
  gap: 20px;
  margin-top: 290px;
}
.Inter-18-h20 {
  font-size: 18px;
  line-height: 20px;
}

/* Page5-Mob */

.p5_text_frame {
  gap: 16px;
  margin-bottom: 280px;
}
.Inter-28 {
  font-size: 28px;
  font-weight: 700;
  /* line-height: 100%; */
}

.p5_logo {
  margin-right: 7px;
  margin-bottom: 7px;
  opacity: 80%;
}
.Inter-13B {
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}
.Inter-18-h25 {
  font-size: 18px;
  line-height: 25px;
}

/* Page6-7================================= */
.page6-7 {
  gap: 12px;
}

.page7 {
  background-image: url("./images/business-c.png");
  /* background-size: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.p6_text_frame {
  margin-top: 30px;
  gap: 16px;
}
.p7_text_frame {
  gap: 16px;
  width: 65%;
  margin-bottom: 280px;
}

/* Page8-9================================= */
.page8-9 {
  gap: 12px;
}
.page8 {
  background-image: url("./images/carrier-c.png");
  /* background-size: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.p8_text_frame {
  width: 314px;
  gap: 20px;
  margin-top: 250px;
}
.btn_learn_p8 {
  background-color: #0071e3;
  border-radius: 60px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.p9_text_frame {
  gap: 16px;
  margin-bottom: 300px;
  width: 285px;
}

.scroll_container {
  height: 495px;
  /* overflow: scroll; */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scroll_img {
  min-width: 274px;
  scroll-snap-align: center;
}
.indicator {
  gap: 14px;
  margin-bottom: 20px;
}
a {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #0000006b;
}
a:hover {
  background-color: black;
}

.animation_box {
  width: 100%;
  animation-name: phoneAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: 4s;
  position: relative;
  gap: 6px;
}
@keyframes phoneAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
/* Hidden Elements-Tab */
