@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

/* General  */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
/* Container */
.whole_container {
  gap: 12px;
}
/* Page1 - Header  */

.menu-bar {
  background-color: #f5f5f7cc;
  width: 100%;
  /* max-width: 100%; */
  /* background-size: cover; */
}
.icon_pad_15 {
  padding: 15px;
}
.icons {
  gap: 24px;
}
.head-desc {
  margin: 15px 31px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  color: #1d1d1f;
}
.category-hide {
  display: none;
}
.category {
  gap: 24px;
  font-size: 12px;
}
/* ===========Tablet Style ==========*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page1 {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
  }
  /* Page1-Header */
  .header1 {
    width: 100%;
  }
  .head-desc {
    margin: 16px 162px;
  }

  /* =Page1-banner - Tab ======================= */
  .banner1 {
    background-image: url("./images/page1-hor.png");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* Page1-Text */
  .p1_text_frame {
    margin-bottom: 50%;
    margin-top: 8%;
    gap: 16px;
    color: white;
  }
  .Inter-42 {
    font-size: 42px;
    font-weight: 600;
    line-height: 60px;
  }
  .Inter-22 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    /* color: #f5f5f7; */
  }
  .btn_frame {
    gap: 16px;
    margin: 0px 99px;
  }
  .btn_learn {
    width: 123px;
    height: 44px;
    background-color: #0071e3;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    width: 68px;
    height: 44px;
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /* Page 2- Tab================================== */
  .page2 {
    width: 100%;
    height: auto;
    background-image: url("./images/page2-hor.png");
    background-size: 100%;
    height: 650px;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
  }

  /* Page2 - Text Box */
  /* .p2_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */
  .btn_learn_wh {
    width: 107px;
    height: 36px;
    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /* =====Page3 -Tab===================== */
  .page3 {
    background-image: url("./images/page3-hor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    /* justify-content: space-evenly; */
    height: 650px;
    width: 100%;
    background-position: center;
  }
  /* Page2 - Text Box */
  /* .p3_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */

  .Inter-22-G {
    background-image: linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
    color: transparent;
    background-clip: text;
    padding-bottom: 8%;
    font-size: 22px;
    /* padding-top: 2%; */
  }
  /* ===========Page4-tab ====== */
  .tab-hid {
    display: none;
  }
  .page4 {
    background-image: url("./images/airpod-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
  }
  .page5 {
    background-image: url("./images/watch-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    /* color: white; */
  }
  .desk_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  /* .p5_hid {
    display: none;
  } */
  /* .p4_hid {
    display: none;
  } */
  /* Page4-tab */
  /* .page6-7 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 12px;
  }
  .page8-9 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 12px;
  } */
  /* Hidden Elements-Tab */
  .p4_desktop {
    display: none;
  }
}

/*========== Desktop Style ==================*/
@media screen and (min-width: 1024px) {
  .whole_container {
    display: grid;
  }
  /* Page1-Header */
  .header1 {
    width: 100%;
  }
  .menu-bar {
    justify-content: center;
    align-items: center;
  }
  .category-hide {
    display: inline;
  }
  .banner1 {
    background-image: url("./images/desktop-pro.jpg");
    width: 100%;
    height: 692px;
    background-position: center;
    background-size: cover;
  }
  /* Page1-Text-Desk=========================*/
  .p1_text_frame {
    margin-bottom: 400px;
    gap: 16px;
    color: white;
  }
  .Inter-52 {
    font-size: 52px;
    font-weight: 600;
    line-height: 60px;
  }
  .Inter-24 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  .btn_frame {
    gap: 16px;
    /* margin: 0px 99px; */
  }
  .btn_learn {
    width: 123px;
    height: 44px;
    background-color: #0071e3;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    width: 68px;
    height: 44px;
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /* Page 2 Desk*===========================/
  /* Page2 - Text Box */
  .page2 {
    background-image: url("./images/d_purple.png");
    width: 100%;
    height: 692px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  .p2_text_frame {
    gap: 16px;
    margin-top: 50px;
  }
  .btn_learn_wh {
    width: 107px;
    height: 36px;
    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /* Page3 -Desk */
  .page3 {
    background-image: url("./images/page3-hor.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: space-evenly; */
    height: 692px;
    width: 100%;
    background-position: center;
  }
  /* Page2 - Text Box */
  /* .p3_text_frame {
    margin-top: 8%;
    gap: 16px;
    margin-bottom: 50%;
  } */

  .Inter-24-G {
    background-image: linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
    color: transparent;
    background-clip: text;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
  }
  /*  Only Elements-Desk */
  .p4_desktop {
    display: flex;
    background-image: url("./images/magic.png");
    height: 692px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .p4_desktop_text {
    gap: 16px;
    margin-top: 350px;
  }
  .desk-hid {
    display: none;
  }
  /* =====Desk Grid ======== */
  .desk_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .page3 {
    height: 580px;
  }

  .page4 {
    background-image: url("./images/pro2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 580px;
  }
  .page5 {
    background-image: url("./images/watch-2.png");
    height: 580px;
    background-position: center;
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/* Page1 - Banner  */
/* =====Mobile style ============================ */
@media screen and (max-width: 600px) {
  /*   Page1 -----Mob -0----- */
  .banner1 {
    background-image: url("./images/page1-col.png");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    gap: 16px;
  }
  /* Text */
  .p1_text_frame {
    margin-top: 300px;
    /* height: 114px; */
    gap: 16px;
    /* margin-bottom: 10%; */
  }
  .para-frame {
    /* margin: 0px 18px; */
    gap: 4px;
  }
  .Inter-30B {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
  .Inter-18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  .btn_frame {
    gap: 12px;
    margin: 0px 28px;
  }
  .btn_learn {
    background-color: #0071e3;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: white;
  }
  .btn_buy {
    width: 66px;
    height: 36px;
    border: 1px solid #2997ff;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #2997ff;
  }
  /*--- Page2 -Banner2- Mob-----*/

  .page2 {
    width: 100%;
    height: 500px;
    background-image: url("./images/page2-col.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }

  /* Page2 - Text Box */

  .btn_learn_wh {
    width: 107px;
    height: 36px;
    background-color: white;
    border-radius: 60px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: black;
  }
  .btn_buy_wh {
    width: 66px;
    height: 36px;
    border: 1px solid white;
    border-radius: 60px;
    padding: 8px 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  /*  =====Page 3 -Mob ===== */

  .page3 {
    background-image: url("./images/page3.png");
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
  }
  /* Page2 - Text Box */

  .Inter-18-G {
    background: linear-gradient(
      90.43deg,
      #0090f7 0%,
      #ba62fc 33.33%,
      #f2416b 66.67%,
      #f55600 100%
    );
    color: transparent;

    background-clip: text;
    padding-top: 5%;
    padding-bottom: 10%;
    font-size: 18px;
  }

  /* Page4-Mob */
  /* .page4 {
    background-image: url("./images/airpod-c.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
  }
  .p4_text_frame {
   
    margin: auto;
    padding-top: 60%;
    padding-bottom: 20%;
    gap: 20px;
  }
  .Inter-18-h20 {
    font-size: 18px;
    line-height: 20px;
  }

  Page4-Mob .page5 {
    background-image: url("./images/watch-c.png");
    background-size: 100%;
    background-repeat: no-repeat;
   
  }
  .p5_text_frame {
    margin: auto;
    padding-top: 10%;
    padding-bottom: 90%;
    gap: 16px;
  }
  .Inter-28 {
    font-size: 28px;
    font-weight: 700;
    
  }

  .p5_logo {
    padding-right: 7px;
    padding-bottom: 7px;
    opacity: 80%;
  }
  .Inter-13B {
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
  }
  .Inter-18-h25 {
    font-size: 18px;
    line-height: 25px;
  }
  */
  /* .p4-5_hid {
    display: none;
  } */
  .p4_desktop {
    display: none;
  }
  .page4 {
    background-image: url("./images/airpod-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: white;
  }
  .page5 {
    background-image: url("./images/watch-c.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    /* color: white; */
  }
}

/* ===================== General =================================== */
.p2_text_frame {
  gap: 16px;
  margin-top: 30px;
}
.p3_text_frame {
  margin-top: 30px;
  gap: 16px;
}
.p3-bot-text {
  margin-top: 280px;
}
/*== Page4-5-Mob ====== */
.page4-5 {
  gap: 12px;
}

.p4_text_frame {
  width: 60%;
  gap: 20px;
  margin-top: 290px;
}
.Inter-18-h20 {
  font-size: 18px;
  line-height: 20px;
}

/* Page5-Mob */

.p5_text_frame {
  gap: 16px;
  margin-bottom: 280px;
}
.Inter-28 {
  font-size: 28px;
  font-weight: 700;
  /* line-height: 100%; */
}

.p5_logo {
  margin-right: 7px;
  margin-bottom: 7px;
  opacity: 80%;
}
.Inter-13B {
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;
}
.Inter-18-h25 {
  font-size: 18px;
  line-height: 25px;
}

/* Page6-7================================= */
.page6-7 {
  gap: 12px;
}
.page6 {
  background-image: url("./images/air-c.png");
  background-size: cover;
  /* background-size: auto; */
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.page7 {
  background-image: url("./images/business-c.png");
  /* background-size: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.p6_text_frame {
  margin-top: 30px;
  gap: 16px;
}
.p7_text_frame {
  gap: 16px;
  width: 65%;
  margin-bottom: 280px;
}

/* Page8-9================================= */
.page8-9 {
  gap: 12px;
}
.page8 {
  background-image: url("./images/carrier-c.png");
  /* background-size: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
.page9 {
  background-image: url("./images/phone-c.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.p8_text_frame {
  width: 86%;
  gap: 20px;
  margin-top: 70%;
}
.btn_learn_p8 {
  background-color: #0071e3;
  border-radius: 60px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.p9_text_frame {
  gap: 16px;
  margin-bottom: 70%;
  width: 75%;
}
/* Hidden Elements-Tab */
